<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SEARCH EMAIL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <form method="post">
        <div class="form-group">
          <label for="key_words">ENTER KEYWORDS:</label>
          <input type="text" class="form-control" name="key_words" id="key_words" placeholder="e.g. important email">
        </div>
        <button type="submit" class="btn btn-primary">SEARCH</button>
      </form>
    </div>
  </body>
</html>
